<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/outputStyle.css') }}">
	</head>
    <body>
		<h3 style="color: #d6b97e">Your Review:</h3>
		<div class="user-text">
			<b style="color: #d6b97e">{{ session['user_text'] }}</b>
		</div>
		<!--
		<h3 style="color: #d6b97e">Cleaned Review:</h3>
		<div class="user-text">
			<b style="color: #d6b97e">{{ session['process_2_text_4'] }}</b>
		</div>
		-->
		<div class="tr">
			<!--model outputs 0 or 1. multiply by 2 and subtract 1 to project output to range [-1,1]-->
			<p>AutoML</p>
			<div style="background-color:{{ scoreColor(session['score1']*2-1) }}" id='score1'>
				<p>{{ session['score1'] }}</p>
			</div>
		</div>
		<div class="tr">
			<p>Logistic Regression</p>
			<div style="background-color:{{ scoreColor(session['score2']*2-1) }}" id='score2'>
				<p>{{ session['score2'] }}</p>
			</div>
		</div>
		<div class="tr">
			<p>SVM</p>
			<div style="background-color:{{ scoreColor(session['score3']*2-1) }}" id='score3'>
				<p>{{ session['score3'] }}</p>
			</div>
		</div>
		<div class="tr">
			<p>Random Forest</p>
			<div style="background-color:{{ scoreColor(session['score4']*2-1) }}" id='score4'>
				<p>{{ session['score4'] }}</p>
			</div>
		</div>
		<form action="/">
			<input style="margin-top:10px" type="submit" value="Back to Home" />
		</form>
    </body>
</html>