.tr {
	display:table-row
}

.user-text{
	width: 300px;
}
#score1 {
	width: 100px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#score2 {
	width: 100px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#score3 {
	width: 100px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#score4 {
	width: 100px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}