html {
	zoom: 200%;
}

body {
	background: linear-gradient(110deg, #3d7078 60%, #181e26 60%);
}

h3 {
	color: #d6b97e;
}

.tr {
	display:table-row
}

.user-text{
	width: 300px;
	padding-bottom: 25px;
}
#score1 {
	width: 100px;
	height: 50px;
	display: table-cell;
	border: 4px solid #181e26;
	border-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}
#score2 {
	width: 100px;
	height: 50px;
	display: table-cell;
	border: 4px solid #181e26;
	border-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}
#score3 {
	width: 100px;
	height: 50px;
	display: table-cell;
	border: 4px solid #181e26;
	border-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}
#score4 {
	width: 100px;
	height: 50px;
	display: table-cell;
	border: 4px solid #181e26;
	!border-top: 2px;
	text-align: center;
	vertical-align: middle;
}